<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <style>
        body{
            background: black;
        }
    .box{
        width: 300px;
        height: 400px;
        background: white;
        display: flex;
       align-items: center;
        flex-direction: column;
    }
    
    </style>
</head>
<body>
    <div class="box">
        <form class="box">
            <h1>登陆汇川</h1>
            <input style="width: 80%; height:50px; border-radius: 5px;margin-top: 20px;" type="text" placeholder="用户名">
            <input style="width: 80%; height:50px; border-radius: 5px;margin-top: 20px;" type="password" placeholder="密码" >
            <button type="submit" style="width: 80%;  background: aqua; height:50px; border-radius: 5px;margin-top: 20px;">登陆</button>
            <div style="width: 80%;margin-top: 20px;display: flex;justify-content: space-between;" >
                <span>注册</span>
                <span>找回密码</span>
            </div>
        </form>
    </div>
</body>
</html>